.center_div {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.positive_balance {
    color: green;
}

.negative_balance {
    color: red;
}

#description {
    text-align: justify;
}

.title {
    margin-top: 0px;
}


.date {
    margin-top: 0px;

}

#transaction_date {
    text-align: right;
}

#close {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
    margin-top: -5px;
    margin-right: -5px;
    margin-left: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

#close:hover {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
    color:#fff;
}

.balance_text {
    text-align: center;
}

#chart_type_btns {
    /*width: px; *//*SET your width here*/
    margin: 0 auto;
}

.sidebar {
    max-width: 250px;
}

#spending_slider {
    cursor: pointer;
}

.version_number {
    color: #808080;
}


