<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ title }}</title>

    <link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/metrics.css"/>

      <script src="../static/js/jquery-1.11.1.js"></script>

      <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/datepicker.css" rel="stylesheet" type="text/css"/>


    <!-- Custom styles for this template -->
    <link href="../static/css/dashboard.css" rel="stylesheet" type="text/css" />


      <script src="../static/js/d3.js"></script>




    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

<script type=text/javascript>
        PER_DIEM = '{{ rates.daily }}';
        USER_EMAIL = '{{ u.email }}';

    console.log('user', USER_EMAIL, 'perdiem', PER_DIEM);
</script>


  </head>


<body>

{#eventually this will be a log in modal#}
{% if u.email == 'guest@guest.com' %}
<div class="modal" id="login_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
{#        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>#}
        <h4 class="modal-title">Login {{ g.user.id }}</h4>
      </div>
      <div class="modal-body">
        <p>Login to the Insolvency Solver using your gmail account, or continue to browse the site</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Browse Site</button>
        <button type="button" class="btn btn-primary"
                onclick="gmail_login('https://www.google.com/accounts/o8/id')" id="gmail_login">Login With Gmail</button>
      </div>
    </div>
  </div>
</div>
{% endif %}








<!--nav bar-->
 <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">


        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"># The Insolvency Solver</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">

              {% if not g.user.hidden_info_pref %}

            <li><a href="#" id="about_link" title="What the hell is this thing?" style="display: none;">
                <span class="glyphicon glyphicon-info-sign"></span></a></li>

              {%  else %}

              <li><a href="#" id="about_link" title="What the hell is this thing?" style="">
                  <span class="glyphicon glyphicon-info-sign"></span></a></li>
            <!--<li><a href="#"></a></li>-->
            <!--<li><a href="#"></a></li>-->

              {% endif %}
          <li><a><span class="glyphicon glyphicon-off" title="Log In or Out, as the case may be"
                       id="logout_button" style="cursor: pointer"></span></a></li>
          </ul>
          <!--<form class="navbar-form navbar-right">-->
            <!--<input type="text" class="form-control" placeholder="Search...">-->
          <!--</form>-->
        </div>
      </div>
    </div>



<!--MAIN SECTION-->
<div class="container-fluid">
      <div class="row">

          <!--SIDEBAR-->
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
              <a href="#" class="thumbnail" title="This counts as Fair Use, right?">
{#                <img src="../static/assets/fry_sm.png">#}
{#                   <img id="pic" src="../static/assets/poor_zoidberg.png">#}
{#                  <img src="../static/assets/rich_bender.jpg">#}
                  <img id="pic">
              </a>
            <!--<li class="active">-->

              {% if g.user.is_authenticated() %}
                  <div class="alert alert-dismissable alert-success">
                    <button type="button" class="close" data-dismiss="alert">×</button>
              <p>Hi, <a href="#" class="alert-link" title="Change your Nickname?">{{ g.user.nickname }}</a>!</p></div>
              {% endif %}

              <li>
              <a href="/index">Main</a></li>
            <!--<li><a href="">Recent Transactions</a></li>-->
              <li><a href="/daily_summary">Daily Summary</a></li>

{#              <li><a href="/metrics">Metrics</a></li>#}
              <li><a href="/transaction_metrics">Transaction Metrics</a></li>
            <li><a href="/calendar">Calendar</a></li>
              <li><a href="/settings">Settings</a></li>
          </ul>
        </div>


        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <div class="col-lg-8">
            <h1 class="title">The Insolvency Solver</h1>



            {% if not g.user.hidden_info_pref %}
                <div class="alert alert-success well-sm">
            {% else %}
                <div class="alert alert-success well-sm" style="display: none">
             {%  endif %}



                <div id="description" class="" >

                 <span id='close'>X</span>
        <p>The Insolvency Solver is a tool to help save money.  It functions by taking your rent, bills,
        and other fixed costs, subtracting them from your monthly pay, and applying a daily
        spending amount. </p>

        <p>Think of it as a mini bank and daily wage within your larger, actual wage and bank account.
            Major purchases require you to save up your daily wage.
            Meanwhile, your actual wage is being turned into savings (hopefully).</p>

             </div>
          </div>








{#        <hr>#}

<div class="panel panel-default well well-sm">
<div class="row">
{% if rates.balance >= 0 %}
    <div id="current_balance" class="col-md-6">
        <h1 class="balance_text positive_balance">Current Balance:
            $<span id="balance_figure">{{ rates.balance }}</span></h1></div>
{% else %}
    <div id="current_balance" class="col-md-6">
        <h1 class="balance_text negative_balance">Current Balance:
            $<span id="balance_figure">{{ rates.balance }}</span></h1></div>
{% endif %}

        <div class="col-md-4 pull-right">
            <h6 style="text-align: right; margin-bottom: 0;"><i>Transaction Date</i></h6>
            <div class="input-group date">
            <input type="text" class="form-control"  value="" id="transaction_date" placeholder="today">
                <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
            </div>
        </div>
</div>


{#</div>#}
{#            <hr>#}
{#<div class="input-group">#}
{#  <span class="input-group-addon">$</span>#}
{#  <input type="text" class="form-control">#}
{#  <span class="input-group-addon">.00</span>#}
{#</div>#}






<div class="">
<div id="transaction_forms">

  <div class="input-group">
    <span class="input-group-addon">$</span>
    <input type="text" name="transaction" class="form-control" id="transaction_amount" tabindex="1">
    <span class="input-group-addon">.00</span>

    <span class="input-group-addon"></span>
    <input type="text" name="purchase" class="form-control" id="purchase_type"
           placeholder="Purchase Type (optional)" tabindex="2">
    <!--<span class="input-group-addon">.00</span>-->


    <div class="input-group-btn">
        <button type="button" class="btn btn-primary"
                onclick="submit_transaction()" tabindex="3">Submit Transaction</button>



{#        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">#}
{#          <span class="caret"></span>#}
{#        </button>#}
{##}
{#        <ul class="dropdown-menu dropdown-menu-right" role="menu">#}
{#          <li><a href="#">Deposit Money</a></li>#}
{#        </ul>#}






    <div class="row">
    </div><!-- /btn-group -->

</div>
{#row might not be needed....#}






        </div>

</div>
</div>
</div>

{#<input type="submit" value="Submit Transaction">#}

            {% block content %}{% endblock %}


        </div>
      </div>
    </div>




 <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>#}
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/docs.min.js"></script>

    <script src="../static/js/bootstrap-datepicker.js"></script>

    <script src="../static/js/d3_functions.js"></script>
    <script src="../static/js/main.js"></script>


  </body>
</html>