{% extends "base.html" %}
{% block content %}

        <h2 class="sub-header">Daily Summary</h2>
          <div class="table-responsive col-lg-8">
            <table class="table table-striped">
              <thead>
                <tr>
{#                  <th>#</th>#}
                  <th>Date</th>
                  <th>Credits</th>
                  <th>Debits</th>
                  <th>Balance</th>
                </tr>
              </thead>
              <tbody>
              {% for day in daily_summary %}

                <tr>
{#                  <td>{{ day.id }}</td>#}
                  <td>{{ day.date }}</td>
                  <td>{{ day.credits }}</td>
                  <td>{{ day.debits }}</td>

                {% if day.balance >= 0 %}
                  <td class="positive_balance">{{ day.balance }}</td>
                {% else %}
                  <td class="negative_balance">{{ day.balance }}</td>
                {% endif %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>

{% endblock %}