<html>
  <head>
    <title>{{ title }}</title>

    <link rel="stylesheet" type="text/css" href="../static/css/main.css">

  </head>


<body>

<div id="heading" class="center_div"><h2>The Insolvency Solver</h2>

    <div id="description">
        <p>The Insolvency Solver is a tool to help save money.  It functions by taking your rent, bills,
        and other fixed costs, subtracting them from your monthly pay, and applying a daily
        spending amount. </p>

        <p>Think of it as a mini bank and daily wage within your larger, actual wage and bank account.
            Major purchases require you to save up your daily wage.
            Meanwhile, your actual wage is being turned into savings (hopefully).</p>
    </div>



    <div id="current_balance"><h1>Current Balance: ${{ rates.balance }}</h1></div>

    <div id="entry_forms">
        <form action="/submit" method="post">
            Rent: <input type="text" name="rent" value="{{ rates.rent }}">
            Bills: <input type="text" name="bills" value="{{ rates.bills }}">
            Daily Spending: <input type="text" name="daily_spend" value="{{ rates.daily }}">
            <input type="submit" value="Update">
        </form>
    </div>

    <hr>

    <div id="transaction_forms">
        <form action="/submit_transaction" method="post">
            Amount: <input type="text" name="transaction">
            <input type="submit" value="Submit Transaction">
        </form>
    </div>

</div>




  </body>
</html>