{% extends "base.html" %}
{% block content %}
<div class="well-sm">
        <!--<hr>-->


<legend>Total Monthly Balance:  $<span id="monthly_balance">{{ rates.monthly_balance }}</span></legend>

 <div class="input-group">

     <span class="help-block">Use the slider below to trade off between your daily available credits
     and the amount of money saved each month:</span>
	  <label>Daily Credits: <span id="spending_value">{{rates.daily}}</span></label>
        <label class="pull-right">Monthly Savings: <span id="savings_value">{{rates.savings_per_month}}  </span></label>

<input type="range" min="0" max="{{rates.max_spending}}" value="{{rates.daily}}" id="spending_slider">
      <!--<span class="input-group-btn">-->
                <button class="btn btn-primary btn-sm pull-right" type="submit" onclick="submit_credit_change()">Submit</button>
     <!--</span>-->

</div>


<script type="application/javascript">

    document.getElementById('spending_slider').addEventListener('input', function() {
       var value = parseFloat(this.value);
       var monthly_bal = parseFloat(document.getElementById('monthly_balance').innerHTML);
       var savings = Math.floor(monthly_bal - (value*30));
//       console.log("value: ", value, "savings:", savings);

       document.getElementById('spending_value').innerHTML = value;
       document.getElementById('savings_value').innerHTML = savings;
    });

    function submit_credit_change() {
        var slider = document.getElementById('spending_slider');
        console.log("submitting credit change...", slider.value);

    }



</script>

<hr>




    <div id="entry_forms">
        <form action="/submit_monthly" method="post" class="form-horizontal">
{#         <form class="form-horizontal">#}
            <fieldset>

                <span class="help-block">Input your monthly fixed costs and monthly pay below, and we'll calculate
                what your remaining monthly balance amounts to!</span>

            <div class="form-group">
                <label for="rent" class="col-lg-2 control-label">Rent</label>
                <div class="col-lg-10">
                    <input type="number" id="rent" name="rent" class="form-control" placeholder="{{ rates.rent }}">
                </div>
            </div>
            <div class="form-group">
                <label for="bills" class="col-lg-2 control-label">Bills</label>
                <div class="col-lg-10">
                    <input type="number" id="bills" name="bills" class="form-control" placeholder="{{ rates.bills }}">
                </div>
            </div>
            <div class="form-group">
                <label for="other_costs" class="col-lg-2 control-label">Other Costs</label>
                <div class="col-lg-10">
                    <input type="number" name="other_costs"
                           id="other_costs" class="form-control" placeholder="{{ rates.other_costs }}">
                </div>
            </div>

            <div class="form-group">
                <label for="income_per_month" class="col-lg-2 control-label">Income per Month</label>
                <div class="col-lg-10">
                    <input type="number" name="income_per_month" id="income_per_month" class="form-control"
                           placeholder="{{ rates.income_per_month }}">
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary pull-right btn-sm">Submit</button>
                </div>
            </div>
            </fieldset>

         </form>
    </div>



<hr>


</div>



    <div id="direct_balance_form">
        <form action="/direct_balance" method="post">
            <p>Directly Update my Running Balance to:  $ <input type="text" name="balance" value="{{ rates.balance }}">
            <input type="submit" value="Update"></p>
        </form>
    </div>



{% endblock %}