{% extends "base.html" %}
{% block content %}


<div>Daily Summary: </div>
<div class="col-lg-8 well well-sm"><svg class="chart"></svg>

{#Custom Date Range:#}
<div id="date_range_container">
<div class="input-daterange input-group" id="datepicker">

    <input type="text" class="input-sm form-control" id="date_start" name="start" />
    <span class="input-group-addon">to</span>
    <input type="text" class="input-sm form-control" id="date_end" name="end" />


</div>
{#    <button id="submit_chart" class="btn btn-sm pull-right btn-info">Submit</button>#}
</div>

{#    <div class="col-lg-8 well well-sm">#}
{#        <svg class="transaction_chart"></svg>#}
{#    </div>#}

{% for t in transaction_categories %}
<p>{{ t }}</p>
{%  endfor %}


</div>

<script src="../static/js/d3_functions.js"></script>
<script>
    create_transaction_plot();
</script>

{% endblock %}