{% extends "base.html" %}
{% block content %}


<legend>Transaction Visualizations: </legend>
<div class="well well-sm"><svg class="chart"></svg>

{#Custom Date Range:#}
<div id="date_range_container">
<div class="input-daterange input-group" id="datepicker">

    <input type="text" class="input-sm form-control" id="date_start" name="start" />
    <span class="input-group-addon">to</span>
    <input type="text" class="input-sm form-control" id="date_end" name="end" />


</div>
{#    <button id="submit_chart" class="btn btn-sm pull-right btn-info">Submit</button>#}
</div>

{#    <div class="col-lg-8 well well-sm">#}
{#        <svg class="transaction_chart"></svg>#}
{#    </div>#}
{#<hr>#}
<span class="help-block">Use the following check boxes to filter by purchase type, and see what your balance would look like
without spending money on those items:</span>
{#<div class="input-group">#}
<form action="">
{% for t in transaction_categories %}
<span class="input-group-addon">
    <input type="checkbox" id="{{ t }}" value="{{ t }}" checked="checked" onclick="load_data(true);"
           class="filter_options">{{ t }}
</span>
{%  endfor %}
<div>
<span class="input-group-addon">
    <input type="checkbox" id="income_toggle" value="Income Line" onclick="switchChartType('toggle_income');"
           class="chart_settings">Income Line
</span>
<span class="input-group-addon">
    <input type="checkbox" id="history_filter" value="Apply Filters to Full History" checked="checked" onclick=""
           class="chart_settings">Apply Filters to Full History
</span>

</div>
</form>
{#</div>#}
<div class="btn-group" id="chart_type_btns">

    <span class="help-block">Change the type of chart displayed</span>
<button type="button" data-toggle="tooltip" data-placement="top" title="" data-original-title="Tooltip on left"
        class="btn btn-default btn-sm" id="changeChartType" onclick="switchChartType('stacked_bar');">Stacked Bar</button>
<button type="button" class="btn btn-default btn-sm" id="changeChartType" onclick="switchChartType('line_chart');">Line Chart</button>
<button type="button" class="btn btn-default btn-sm" id="changeChartType" onclick="switchChartType('stacked');">Stacked</button>
<button type="button" class="btn btn-default btn-sm" id="changeChartType" onclick="switchChartType('chart');">Chart</button>
<button type="button" class="btn btn-default btn-sm" id="changeChartType" onclick="switchChartType('pie');">Pie Chart</button>
    <button type="button" class="btn btn-default btn-sm" id="changeChartType" onclick="switchChartType('balvspend');">Balance vs Spending</button>
</div>


</div>

<script src="../static/js/d3_functions.js"></script>
<script>
    create_transaction_plot(false);
    load_data();

</script>

{% endblock %}